#about {
    width: 100%;
    padding: 2rem;
    margin: 2rem 0rem;
    background-color: #fafafa;
    border-radius: 0.5rem;

    p {
        b {
            font-weight: 900;
            font-size: 1.6rem;
        }

        &.description {
            background-color: rgba(200, 200, 200, 0.3);
            padding: 1rem;
            border-radius: 1rem;
        }

        a {
            font-size: 1.6rem;
        }
    }

    a.link {
        color: $main;
        font-size: 1.3rem;
        text-align: center;
        display: block;
    }

    a.button {
        font-family: "berlin sans fb demi", cursive;
        font-size: 2rem;
        width: 100%;
        background-color: $main;
        transition: 0.3s;
        height: 6rem;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 1rem;
        span {
            margin-top: -0.2rem;
        }

        &.small {
            height: 5rem !important;
            padding-top: 0rem;
            justify-content: center;
            font-family: "Open Sans";
        }

        &:disabled {
            opacity: 0.7;
            cursor: not-allowed;
        }

        &:focus {
            box-shadow: 0px 0px 0px 0.3rem rgba(0, 0, 0, 0.2);
        }
    }
}


#aboutusbox {
    width: 100%;
    margin: 1rem auto 0;
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 4rem;
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 5%;
    grid-row-gap: 2rem;

    .aboutmeandstuff {
        width: auto;

        &:nth-of-type(1) .us-image {
            background-image: url('../creator_images/viktor.jpeg');
        }

        &:nth-of-type(2) .us-image {
            background-image: url('../creator_images/darius.jpeg');
        }

        &:nth-of-type(3) .us-image {
            background-image: url('../creator_images/toni.jpeg');
        }

        &:nth-of-type(4) .us-image {
            background-image: url('../creator_images/beni.jpeg');
        }

        &:nth-of-type(5) .us-image {
            background-image: url('../creator_images/luther.jpg');
        }

        .us-image {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 1rem;
            border-radius: 1rem;
        }

        p, h2 {
            text-align: center;
        }

        h2 {
            margin-bottom: 1rem;
        }
    }
}