#article-box {
    display: grid;
    grid-template-columns: 48% 48%;
    grid-column-gap: 4%;
    grid-row-gap: 1rem;

    .article {
        height: auto;
        border-radius: 0.5rem;
        overflow: hidden;
        background-image: url("../article_images/marko.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .place-holder {
            width: 100%;
        }

        .info-holder {
            background-color: #fafafa;
            width: 100%;
            padding: 1rem;

            h2 {
                font-size: 1.5rem;
                font-weight: 600;
                word-wrap: break-word;
            }

            p {
                font-size: 1.5rem;
                margin-top: 0.5rem;
            }
        }
    }
}

#next-box {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;

    a {
        width: 32%;
        height: 4rem;
        background-color: #fafafa;
        border-radius: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        &.disabled {
            opacity: 0.8;
            cursor: not-allowed;
        }

        img {
            width: 3rem;
        }
    }

    p {
        font-size: 2rem;
    }
}
