* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border: 0;
  border-radius: 0;
  text-decoration: none;
  color: #151212;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  font-size: 62.5%;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

a,
button,
label,
textarea,
input {
  cursor: pointer;
}

body {
  background-color: #ffb4aa;
}

.main {
  width: 100vw;
  padding: 6.5rem 1rem 3rem;
}

h1 {
  font-size: 2rem;
}

h1 span {
  font-family: "berlin sans fb demi", cursive;
  font-size: 2rem;
}

h2 {
  font-weight: 900;
}

h2,
p {
  font-size: 1.6rem;
}

p {
  line-height: 2.5rem;
  text-align: justify;
}

br {
  content: "A" !important;
  display: block !important;
  height: 1rem !important;
}

/*#ec7565;*/
#nav {
  width: 100vw;
  height: 6.1rem;
  background-color: #fafafa;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom: 0.1rem solid #dddddd;
}

#nav aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 2rem;
}

#nav aside #burger-menu {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 4rem;
  height: 4rem;
  border-radius: 0.5rem;
  margin-right: 1rem;
}

#nav aside #burger-menu .patty {
  display: block;
  width: 3rem;
  height: 0.3rem;
  background-color: #151212;
}

#nav aside #burger-menu .patty-mid {
  margin: 0.5rem 0;
}

#nav aside #logo-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  font-family: "berlin sans fb demi", cursive;
}

#nav aside #logo-name img {
  width: 7rem;
  margin-bottom: 1rem;
}

#nav ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 1.5rem;
}

#nav ul li {
  width: auto;
  height: auto;
  margin-right: 1.5rem;
}

#nav ul li:last-of-type {
  margin-right: 0;
}

#nav ul li:first-of-type {
  border: 1px solid #ffb4aa;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

#nav ul li:first-of-type a {
  width: 2.3rem !important;
  height: 2.3rem !important;
}

#nav ul li a {
  width: 3.5rem;
  height: 3.5rem;
  display: block;
  overflow: hidden;
  border-radius: 0.5rem;
}

#nav ul li a img {
  width: 100%;
}

#nav ul li .message-info::after {
  content: "";
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  background-color: red;
}

#search-form {
  width: 100%;
}

#search-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 1rem 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 0.5rem;
}

#search-form label:focus-within {
  -webkit-box-shadow: 0px 0px 0px 0.5rem rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 0px 0.5rem rgba(0, 0, 0, 0.2);
}

#search-form label[for="search"] {
  padding: 0;
  margin: 1rem 0;
}

#search-form label input {
  height: 4rem;
  width: 100%;
  padding: 0 1rem;
  font-size: 1.5rem;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  background-color: #fafafa;
}

#search-form label button {
  display: block;
  width: 6rem;
  height: 4rem;
  padding: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: #efefef;
}

#search-form label button img {
  width: 70%;
}

.radio-box {
  position: relative;
  margin: 0rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

.radio-box label {
  width: 50%;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  z-index: 2;
}

.radio-box #mover {
  width: 50%;
  z-index: 1;
  left: -0%;
  height: 4rem;
  background-color: #fafafa;
  position: absolute;
  top: 0rem;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.radio-box.upload #mover {
  background-color: #ffb4aa !important;
}

.radio-box .moved {
  left: 50% !important;
}

#service,
#article {
  display: none;
}

#about {
  width: 100%;
  padding: 2rem;
  margin: 2rem 0rem;
  background-color: #fafafa;
  border-radius: 0.5rem;
}

#about p b {
  font-weight: 900;
  font-size: 1.6rem;
}

#about p.description {
  background-color: rgba(200, 200, 200, 0.3);
  padding: 1rem;
  border-radius: 1rem;
}

#about p a {
  font-size: 1.6rem;
}

#about a.link {
  color: #ffb4aa;
  font-size: 1.3rem;
  text-align: center;
  display: block;
}

#about a.button {
  font-family: "berlin sans fb demi", cursive;
  font-size: 2rem;
  width: 100%;
  background-color: #ffb4aa;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 6rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
}

#about a.button span {
  margin-top: -0.2rem;
}

#about a.button.small {
  height: 5rem !important;
  padding-top: 0rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Open Sans";
}

#about a.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

#about a.button:focus {
  -webkit-box-shadow: 0px 0px 0px 0.3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 0px 0.3rem rgba(0, 0, 0, 0.2);
}

#aboutusbox {
  width: 100%;
  margin: 1rem auto 0;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 4rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  grid-column-gap: 5%;
  grid-row-gap: 2rem;
}

#aboutusbox .aboutmeandstuff {
  width: auto;
}

#aboutusbox .aboutmeandstuff:nth-of-type(1) .us-image {
  background-image: url("../creator_images/viktor.jpeg");
}

#aboutusbox .aboutmeandstuff:nth-of-type(2) .us-image {
  background-image: url("../creator_images/darius.jpeg");
}

#aboutusbox .aboutmeandstuff:nth-of-type(3) .us-image {
  background-image: url("../creator_images/toni.jpeg");
}

#aboutusbox .aboutmeandstuff:nth-of-type(4) .us-image {
  background-image: url("../creator_images/beni.jpeg");
}

#aboutusbox .aboutmeandstuff:nth-of-type(5) .us-image {
  background-image: url("../creator_images/luther.jpg");
}

#aboutusbox .aboutmeandstuff .us-image {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
  border-radius: 1rem;
}

#aboutusbox .aboutmeandstuff p, #aboutusbox .aboutmeandstuff h2 {
  text-align: center;
}

#aboutusbox .aboutmeandstuff h2 {
  margin-bottom: 1rem;
}

#article-box {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 48% 48%;
      grid-template-columns: 48% 48%;
  grid-column-gap: 4%;
  grid-row-gap: 1rem;
}

#article-box .article {
  height: auto;
  border-radius: 0.5rem;
  overflow: hidden;
  background-image: url("../article_images/marko.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#article-box .article .place-holder {
  width: 100%;
}

#article-box .article .info-holder {
  background-color: #fafafa;
  width: 100%;
  padding: 1rem;
}

#article-box .article .info-holder h2 {
  font-size: 1.5rem;
  font-weight: 600;
  word-wrap: break-word;
}

#article-box .article .info-holder p {
  font-size: 1.5rem;
  margin-top: 0.5rem;
}

#next-box {
  width: 100%;
  height: auto;
  margin-top: 2rem;
}

#next-box nav {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#next-box nav div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#next-box nav div:first-of-type span {
  background-color: rgba(255, 255, 255, 0.5);
  width: 45%;
  height: 4rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Open Sans", sans-serif !important;
  font-size: 1.5rem;
}

#next-box nav div:first-of-type a {
  width: 45% !important;
  font-size: 1.5rem;
}

#next-box nav div:nth-of-type(2) {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem 0 0;
}

#next-box nav div:nth-of-type(2) div:first-of-type {
  display: none !important;
}

#next-box nav div:nth-of-type(2) div:nth-of-type(2) span {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#next-box nav div:nth-of-type(2) div:nth-of-type(2) span span {
  margin: 0 0.5rem;
}

#next-box nav div:nth-of-type(2) div:nth-of-type(2) span span[aria-current="page"] {
  width: auto !important;
}

#next-box nav div:nth-of-type(2) div:nth-of-type(2) span span[aria-disabled="true"] {
  display: none;
}

#next-box nav div:nth-of-type(2) div:nth-of-type(2) span a {
  margin: 0 0.5rem;
}

#next-box nav div:nth-of-type(2) div:nth-of-type(2) span a[rel="next"], #next-box nav div:nth-of-type(2) div:nth-of-type(2) span a[rel="prev"] {
  display: none;
}

#next-box nav div:nth-of-type(2) div:nth-of-type(2) .ease-in-out {
  width: auto !important;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
}

#next-box nav div:nth-of-type(2) div:nth-of-type(2) .leading-5 {
  width: auto !important;
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
}

#next-box a {
  width: 32% !important;
  height: 4rem;
  background-color: #fafafa;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#next-box a svg {
  width: 3rem !important;
}

#next-box a.disabled {
  opacity: 0.8;
  cursor: not-allowed;
}

#next-box a img {
  width: 3rem;
}

#next-box p {
  font-size: 2rem;
}

#form-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fafafa;
  border-radius: 0.5rem;
  padding: 2rem;
  margin-top: 1rem;
}

#form-box p {
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

#form-box p a {
  color: #ffb4aa;
  font-size: 1.2rem;
}

#form-box #file {
  display: none;
}

.input-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem 0;
}

.input-form .error-box {
  color: #f44336;
  text-align: center;
  display: block;
  font-size: 0rem !important;
  height: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0 !important;
}

.input-form .error-box.show {
  height: auto;
  font-size: 1.4rem !important;
}

.input-form .check-box {
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}

.input-form .check-box .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 2.5rem;
  position: relative;
  padding-left: 3.5rem;
  cursor: pointer;
  font-size: 1.6rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input-form .check-box .container p {
  margin: 0 !important;
  font-size: 1.6rem !important;
  text-align: left !important;
  line-height: 2rem !important;
}

.input-form .check-box .container p a {
  font-size: 1.6rem !important;
  color: #ffb4aa;
}

.input-form .check-box .container a {
  font-size: 1.6rem;
  margin-left: 0.5rem;
  color: #ffb4aa;
}

.input-form .check-box .container.error {
  color: #f44336;
}

.input-form .check-box .container.error a {
  color: #f44336;
}

.input-form .check-box .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.input-form .check-box .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #dddddd;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.input-form .check-box .container input:focus ~ .checkmark {
  -webkit-box-shadow: 0px 0px 0px 0.3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 0px 0.3rem rgba(0, 0, 0, 0.2);
}

.input-form .check-box .container:hover input ~ .checkmark {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.input-form .check-box .container input:checked ~ .checkmark {
  background-color: #ffb4aa;
}

.input-form .check-box .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input-form .check-box .container input:checked ~ .checkmark:after {
  display: block;
}

.input-form .check-box .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.input-form .input-box {
  position: relative;
}

.input-form .input-box .label-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-form .input-box .label-box span,
.input-form .input-box .label-box label {
  width: auto;
  font-size: 1.2rem;
}

.input-form .input-box .label-box label {
  font-size: 1.6rem;
}

.input-form .input-box .input-text {
  width: 100%;
  height: 5rem;
  font-size: 1.6rem;
  border: 0.1rem solid #dddddd;
  padding: 0 1rem;
  margin: 1rem auto;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input-form .input-box .input-text:focus {
  -webkit-box-shadow: 0px 0px 0px 0.3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 0px 0.3rem rgba(0, 0, 0, 0.2);
}

.input-form .input-box textarea {
  padding: 1rem !important;
  resize: none !important;
  height: 10rem !important;
}

.input-form .input-box .show-password {
  position: absolute;
  right: 1.5rem;
  top: 4.3rem;
  background-color: transparent;
}

.input-form .input-box .show-password svg {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input-form .input-box .show-password svg:first-of-type {
  display: none;
}

.input-form .input-box .show-password.show svg:first-of-type {
  display: block;
}

.input-form .input-box .show-password.show svg:last-of-type {
  display: none;
}

.input-form .input-box .regex-box {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  margin: 0 !important;
  line-height: 2rem !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input-form .input-box .regex-box span {
  font-size: 1.1rem;
  background-color: #dddddd;
  padding: 0.5rem;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input-form .input-box .regex-box.error {
  color: #f44336;
}

.input-form .input-box .regex-box.error span {
  color: #f44336;
}

.input-form button {
  background-color: #ffb4aa;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input-form button[type="submit"], .input-form button.select {
  height: 5rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
}

.input-form button[type="submit"]:disabled, .input-form button.select:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.input-form button[type="submit"]:focus, .input-form button.select:focus {
  -webkit-box-shadow: 0px 0px 0px 0.3rem rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 0px 0.3rem rgba(0, 0, 0, 0.2);
}

.input-form .label-button {
  background-color: #ffb4aa;
  height: 5rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#image-box {
  width: 100%;
  border-radius: 0.5rem;
  overflow: scroll hidden;
  white-space: nowrap;
}

#image-box .placeholder {
  background-image: url("../images/uploadimage.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: inline-block;
}

#image-box .image {
  display: inline-block;
  border: 10px solid #c8c8c8;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.reset-button-box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 1.2rem;
  overflow: hidden;
  height: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.reset-button-box button {
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  background-color: #efefef;
}

.chat-box {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
  overflow: hidden;
  height: calc(90vh - 12rem);
  margin-top: 0.7rem;
  position: relative;
  overflow: hidden;
}

.chat-box .message-box {
  width: 100%;
  height: calc(100% - 7rem);
  padding: 2rem 1rem;
  overflow: scroll;
}

.chat-box .message-box h2 {
  text-align: center;
  font-size: 2rem;
}

.chat-box .message-box .message {
  width: 95%;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom-left-radius: 0rem;
  margin-bottom: 0.9rem;
}

.chat-box .message-box .message h1, .chat-box .message-box .message p {
  font-size: 1.6rem;
}

.chat-box .message-box .message h1 {
  font-weight: 900;
}

.chat-box .message-box .message p {
  line-height: 2rem;
}

.chat-box .message-box .message.right {
  float: right;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 0rem;
  background-color: #ec756585;
}

.chat-box .message-box .message:last-of-type {
  margin-bottom: -1rem;
}

.chat-box .message-box .message p {
  word-break: break-all;
}

.chat-box form {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-top: 0.1rem solid #dddddd;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.chat-box form .input-box {
  width: calc(100% - 5rem);
}

.chat-box form .input-box .label-box {
  height: 0;
  overflow: hidden;
}

.chat-box form button {
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  padding: 0.5rem;
}

.chat-box form button img {
  width: 100%;
}

.chat-box form input {
  width: 100%;
  height: 5rem;
  font-size: 1.6rem;
  border: 0.1rem solid #dddddd;
  padding: 0 1rem;
  border-radius: 0.5rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.chat-about {
  margin-bottom: 0 !important;
}

.chats-box {
  width: 100%;
  padding: 1rem 0;
}

.chats-box .chat {
  width: 100%;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  display: block;
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chats-box .chat .chat-image {
  width: 100px;
  height: 10rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-right: 2rem;
}

.chats-box .chat h2 {
  font-size: 2rem;
}

footer {
  width: 100vw;
  border-top: solid 0.4rem rgba(0, 0, 0, 0.2);
}

footer div {
  width: 100%;
}

footer div:first-of-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}

footer div:first-of-type a {
  font-size: 1.2rem;
  line-height: 2rem;
  margin: 0 1rem;
}

footer div:last-of-type {
  padding: 0rem 2rem 2rem;
  text-align: center;
  font-size: 2rem;
}

#loading-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 9;
}

.loader {
  border: 40px solid #f3f3f3;
  border-radius: 50%;
  border-top: 40px solid #ffb4aa;
  width: 220px;
  height: 220px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media only screen and (min-width: 600px) {
  #aboutusbox {
    width: 90%;
    -ms-grid-columns: 48% 48%;
        grid-template-columns: 48% 48%;
  }
}

@media only screen and (min-width: 700px) {
  .main.different #form-box, .main.different #about {
    margin-top: 0;
    margin: 0 auto;
    margin-bottom: 2rem;
    width: 80%;
  }
  .main.different #about {
    margin-top: 1rem;
    margin-bottom: 0rem;
  }
  .main.even-more {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  #image-box-container {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (min-width: 800px) {
  nav {
    padding: 0 14vw;
  }
  nav aside, nav ul {
    padding: 0;
  }
  .main {
    padding: 7.5rem 3rem 3rem;
  }
  #article-box {
    -ms-grid-columns: 32% 32% 32% !important;
        grid-template-columns: 32% 32% 32% !important;
    grid-column-gap: 2% !important;
  }
  #next-box, #search-form, #about, #article-box, #form-box, .chats-box, .chat-box {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
  #next-box.different, #search-form.different, #about.different, #article-box.different, #form-box.different, .chats-box.different, .chat-box.different {
    margin-right: 2rem;
  }
  #next-box.different:last-of-type, #search-form.different:last-of-type, #about.different:last-of-type, #article-box.different:last-of-type, #form-box.different:last-of-type, .chats-box.different:last-of-type, .chat-box.different:last-of-type {
    margin-bottom: 0;
    margin-right: 0rem;
  }
  #next-box p a, #next-box p, #search-form p a, #search-form p, #about p a, #about p, #article-box p a, #article-box p, #form-box p a, #form-box p, .chats-box p a, .chats-box p, .chat-box p a, .chat-box p {
    font-size: 1.5rem;
  }
  #next-box .message-box, #search-form .message-box, #about .message-box, #article-box .message-box, #form-box .message-box, .chats-box .message-box, .chat-box .message-box {
    padding: 3rem;
  }
  #next-box .message, #search-form .message, #about .message, #article-box .message, #form-box .message, .chats-box .message, .chat-box .message {
    width: 60% !important;
    margin-bottom: 1.5rem !important;
  }
  .settings-container {
    margin: auto;
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #next-box, #about {
    margin-top: 3rem;
  }
  #next-box.lesser, #about.lesser {
    margin-top: 1rem !important;
  }
  #about {
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 900px) {
  #aboutusbox {
    width: 80%;
    -ms-grid-columns: 30% 30% 30%;
        grid-template-columns: 30% 30% 30%;
  }
  .main.different {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main.different #form-box {
    margin-top: 0;
    width: 60%;
  }
  .main.different #about {
    width: 40%;
  }
  #image-box-container {
    width: 40%;
    margin-right: 2rem;
  }
  #image-box-container.view {
    width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */