* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    outline: none;
    border: 0;
    border-radius: 0;
    text-decoration: none;
    color: #151212;

    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

a,
button,
label,
textarea,
input {
    cursor: pointer;
}

body {
    background-color: #ffb4aa;
}

.main {
    width: 100vw;

    padding: 6.5rem 1rem 3rem;
}

h1 {
    font-size: 2rem;

    span {
        font-family: "berlin sans fb demi", cursive;
        font-size: 2rem;
    }
}

h2 {
    font-weight: 900;
}

h2,
p {
    font-size: 1.6rem;
}

p {
    line-height: 2.5rem;
    text-align: justify;
}

br {
    content: "A" !important;
    display: block !important;
    height: 1rem !important;
}

$main: #ffb4aa;/*#ec7565;*/
$passive: #dddddd;
$error: #f44336;

@import "nav";
@import "search";
@import "about";
@import "article";
@import "form";
@import "contact";
@import "footer";

@media only screen and (min-width: 700px) {
    .main {
        &.different {
            #form-box, #about {
                margin-top: 0;
                margin: 0 auto;
                margin-bottom: 2rem;
                width: 80%;
            }

            #about {
                margin-top: 1rem;
                margin-bottom: 0rem;
            }
        }
        &.even-more {
            flex-direction: row-reverse;
        }
    }
    #image-box-container {
        width: 80%;
        margin: auto;
    }
}

@media only screen and (min-width: 800px) {
    nav {
        padding: 0 14vw;

        aside, ul {
            padding: 0;
        }
    }

    .main {
        padding: 7.5rem 3rem 3rem;
    }

    #article-box {
        grid-template-columns: 32% 32% 32% !important;
        grid-column-gap: 2% !important;
    }

    #next-box, #search-form, #about, #article-box, #form-box, .chats-box, .chat-box {
        width: 75%;
        margin-left: auto;
        margin-right: auto;

        &.different {
            margin-right: 2rem;

            &:last-of-type {
                margin-bottom: 0;
                margin-right: 0rem;
            }
        }

        p a, p {
            font-size: 1.5rem;
        }

        .message-box {
            padding: 3rem;
        }

        .message {
            width: 60% !important;
            margin-bottom: 1.5rem !important;
        }
    }

    .settings-container {
        margin: auto;
        width: 75%;
        display: flex;
        justify-content: space-between;
    }

    #next-box, #about {
        margin-top: 3rem;

        &.lesser {
            margin-top: 1rem !important;
        }
    }

    #about {
        margin-bottom: 3rem;
    }
}

@media only screen and (min-width: 900px) {
    .main {
        &.different {
            align-items: center;
            display: flex;

            #form-box {
                margin-top: 0;
                width: 60%;
            }

            #about {
                width: 40%;
            }
        }
    }
    #image-box-container {
        width: 40%;
        margin-right: 2rem;

        &.view {
            width: 50%;
        }
    }
}
